Ldash
plotly~=6.6.0
pandas~=3.0.1
numpy~=2.4.2
pyserial~=3.5
alicat~=0.9.0
lakeshore~=1.9.2
openpyxl
nidaqmx
uvicorn~=0.46.0
fastapi~=0.136.1
pydantic~=2.13.3
dash~=4.1.0
requests~=2.33.0
pip~=24.3.1
pillow~=12.1.1
Jinja2~=3.1.6
setuptools~=82.0.1
wakepy~=1.0.0
typing_extensions~=4.15.0
iso8601~=2.1.0
packaging~=26.0
zipp~=3.23.0
PySide6~=6.11.0
six~=1.17.0
python-dateutil~=2.9.0.post0
matplotlib~=3.10.8
contourpy~=1.3.3
fonttools~=4.61.1
pyparsing~=3.3.2
cycler~=0.12.1
kiwisolver~=1.4.9